<app-nav></app-nav>

<div class="container" style="margin:0px">
    <div class="row" style="width:1140px">
        <div class="col-3" style="padding: 0px;">
            <div class="card card-profile ml-auto mr-auto" style="width: 100%;">
                <div class="card-header card-header-image" style="width:170px;background: transparent">
                    <img class="img" style="width:128px;"
                        [src]="CurrentStudent.sex == '男' ? '/assets/image/male.png' : '/assets/image/female.png'">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{CurrentStudent.name}} &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-info" (click)="JumpToClass()">
                            <i class="fas fa-chalkboard-teacher"></i>&nbsp;{{CurrentStudent.className}}
                        </button>
                    </h4>
                    <br />
                    <ul class="heroes">
                        <li>
                            <span class="badge">ID</span>{{CurrentStudent.id}}
                        </li>
                        <li>
                            <span class="badge">出生年</span>{{CurrentStudent.bornDate}}
                        </li>
                        <li>
                            <span class="badge">政治面貌</span>{{CurrentStudent.policy}}
                        </li>
                        <li>
                            <span class="badge">民族</span>{{CurrentStudent.nation}}
                        </li>
                        <li>
                            <span class="badge">出生地</span>{{CurrentStudent.nativePlace}}
                        </li>
                        <li>
                            <span class="badge">家庭类型</span>{{CurrentStudent.residenceType}}
                        </li>
                        <li>
                            <span class="badge">宿舍号</span>{{CurrentStudent.liveRoomNo}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row" style="width:840px;">
                    <div class="col-6" *ngIf="ScoreAvg.length !== 0">
                        <div class="card text-right" style="width: 100%;margin-top: 35px;margin-bottom: 5px;">
                            <div class="card-body">
                                <div echarts (chartInit)="onScoreChartInit($event)" [options]="ScoreGraph"
                                    style="width:350px;height:350px;"></div>
                                <button class="btn btn-info" style="float:right" (click)="JumpTo('grade')"><i
                                        class="fa fas fa-chart-bar"></i>&nbsp; 详细</button>
                                <button class="btn btn-info" style="float:right" (click)="PickStudent()"><i
                                        class="fas fa-balance-scale"></i>&nbsp; 比较</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="ConsumptionMonth.length !== 0">
                        <div class="card text-right" style="width: 100%;margin-top: 35px;margin-bottom: 5px;">
                            <div class="card-body">
                                <div echarts (chartInit)="onCompumptionChartInit($event)" [options]="CompumptionGraph"
                                    style="width:350px;height:350px;"></div>
                                <button class="btn btn-info" style="float:right" (click)="JumpTo('compumption')"><i
                                        class="fa fas fa-chart-bar"></i>&nbsp; 详细</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="width:840px;">
                    <div class="col-6" style="padding-top:0px;" *ngIf="KaoqinMonthCnt.length !== 0">
                        <div class="card text-right" style="width: 100%;margin-top: 10px;">
                            <div class="card-body">
                                <div echarts (chartInit)="onKaoqinChartInit($event)" [options]="KaoqinGraph"
                                    style="width:350px;height:350px;"></div>
                                <button class="btn btn-info" style="float:right" (click)="JumpTo('kaoqin')"><i
                                        class="fa fas fa-chart-bar"></i>
                                    &nbsp;详细</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="CurrentStudent.liveRoomNo !=='-'">
                        <div class="card text-left" style="width: 100%;margin-top: 10px;">
                            <div class="card-body">
                                <h4><b>{{CurrentStudent.liveRoomNo}}{{CurrentStudent.sex}}生宿舍</b></h4>
                                <div class="container" style="padding:0px">
                                    <student-item [Title]="item.name" [Sex]="item.sex" [StudentId]="item.id"
                                        [SubTitle]="item.className"
                                        *ngFor="let item of this.service.CurrentStudentInfo.roommate">
                                    </student-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-studentPicker></app-studentPicker>
<app-error-message-dialog></app-error-message-dialog>