<app-nav></app-nav>
<div class="container">
    <div class="row" style="padding: 0px;">
        <div class="col" style="padding: 0px;">
            <div class="box box-primary  box-solid" style="width: 100%;margin-top: 10px;margin-bottom: 5px;">
                <div class="box-header with-border">
                    <h3 class="box-title">任课教师</h3>
                </div>
                <div class="box-body">
                    <div style="margin: 5px 0px 5px 0px">
                        <button *ngFor="let teacher of this.Teachers" type="button" class="btn btn-info"
                            style="margin-left: 10px;"
                            (click)="JumpToTeacher(teacher.id)">{{teacher.subName}}：{{teacher.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 0px;">
        <div class="col" style="padding: 0px;">
            <p-tabView>
                <p-tabPanel [header]="'成绩列表'">
                    <exam-list [Scores]="Scores" [Mode]="'SAME'"
                        [CSVFilename]="CurrentStudent.name + '(' + CurrentStudent.id + ')成绩一览'"></exam-list>
                </p-tabPanel>
                <p-tabPanel [header]="'各科图表'">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div echarts [options]="this.LineGraphOption[0]" style="width:300px;height:250px;">
                                </div>
                            </div>
                            <div class="col">
                                <div echarts [options]="this.LineGraphOption[1]" style="width:300px;height:250px;">
                                </div>
                            </div>
                            <div class="col">
                                <div echarts [options]="this.LineGraphOption[2]" style="width:300px;height:250px;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div echarts [options]="this.LineGraphOption[3]" style="width:300px;height:250px;">
                                </div>
                            </div>
                            <div class="col">
                                <div echarts [options]="this.LineGraphOption[4]" style="width:300px;height:250px;">
                                </div>
                            </div>
                            <div class="col">
                                <div echarts [options]="this.LineGraphOption[5]" style="width:300px;height:250px;">
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="subNameList.length == 9">
                            <div class="col">
                                <div echarts [options]="this.LineGraphOption[6]" style="width:300px;height:250px;">
                                </div>
                            </div>
                            <div class="col">
                                <div echarts [options]="this.LineGraphOption[7]" style="width:300px;height:250px;">
                                </div>
                            </div>
                            <div class="col">
                                <div echarts [options]="this.LineGraphOption[8]" style="width:300px;height:250px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="'AI预测（探索性质）'">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <table-function [Table]="dt" [FrameStyle]="{'float':'right'}"></table-function>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p-table #dt [columns]="cols"
                                    [exportFilename]="CurrentStudent.name + '(' + CurrentStudent.id + ')AI预测等第'"
                                    [value]="AIFeatures" selectionMode="multiple" [scrollable]="true"
                                    scrollHeight="570px">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 70px" [pSortableColumn]="'subName'">科目
                                                <p-sortIcon [field]="'subName'">
                                                </p-sortIcon>
                                            </th>
                                            <th style="width: 70px" [pSortableColumn]="'lastDengdi'">前一次等第
                                                <p-sortIcon [field]="'lastDengdi'">
                                                </p-sortIcon>
                                            </th>
                                            <th style="width: 70px" [pSortableColumn]="'lastDengdiMean'">等第均值
                                                <p-sortIcon [field]="'lastDengdiMean'">
                                                </p-sortIcon>
                                            </th>
                                            <th style="width: 70px" [pSortableColumn]="'lastDiff'">等第趋势
                                                <p-sortIcon [field]="'lastDiff'">
                                                </p-sortIcon>
                                            </th>
                                            <th style="width: 70px" [pSortableColumn]="'actDengdi'">实际等第
                                                <p-sortIcon [field]="'actDengdi'">
                                                </p-sortIcon>
                                            </th>
                                            <th style="width: 70px" [pSortableColumn]="'predDengdi'">预测等第
                                                <p-sortIcon [field]="'predDengdi'">
                                                </p-sortIcon>
                                            </th>
                                            <th style="width: 70px" [pSortableColumn]="'loss'">误差
                                                <p-sortIcon [field]="'loss'">
                                                </p-sortIcon>
                                            </th>
                                            <th style="width: 200px" [pSortableColumn]="'message'">风险提示
                                                <p-sortIcon [field]="'message'">
                                                </p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-itemData>
                                        <tr [pSelectableRow]="itemData">
                                            <td style="width: 70px;text-align: center;">{{itemData.subName}}</td>
                                            <td style="width: 70px;text-align: right;">{{itemData.lastDengdi}}</td>
                                            <td style="width: 70px;text-align: right;">{{itemData.lastDengdiMean}}</td>
                                            <td style="width: 70px;text-align: right;">{{itemData.lastDiff}}</td>
                                            <td style="width: 70px;text-align: right;">{{itemData.actDengdi}}</td>
                                            <td style="width: 70px;text-align: right;">{{itemData.predDengdi}}</td>
                                            <td style="width: 70px;text-align: right;">{{itemData.loss}}</td>
                                            <td style="width: 200px;text-align: right;">{{itemData.message}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>