<app-nav></app-nav>
<div class="alert alert-info" style="font-size: 18px;font-weight: 500;">
  {{this.ClassName}} 人数：{{this.StudentCnt}}
</div>
<p-tabView *ngIf="this.StudentsInfo !==undefined" (onChange)="handleChange($event)">
  <p-tabPanel header="概要" style="width:1140px;">
    <div class="row">
      <div class="col-8">
        <app-map [NativePlace]="this.StudentsInfo.nativePlace" [StyleHeight]="'600px'" [StyleWidth]="'600px'"
          [NativePlaceZheJiang]="this.StudentsInfo.nativePlaceZheJiang" [ViusalMax]="5" [Title]="this.ClassName">
        </app-map>
      </div>
      <div class="col-4">
        <div class="box box-primary  box-solid" style="width: 100%;">
          <div class="box-header with-border">
            <h3 class="box-title">民族</h3>
          </div>
          <div class="box-body">
            <div style="margin: 5px 0px 5px 0px">
              <button *ngFor="let x of StudentsInfo.nation" type="button" class="btn btn-primary"
                style="cursor: default;margin-left: 10px">
                {{x.name}}
                <span class="badge badge-light">{{x.value}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="box box-primary  box-solid" style="width: 100%;margin-top: 10px;">
          <div class="box-header with-border">
            <h3 class="box-title">政治面貌</h3>
          </div>
          <div class="box-body">
            <div style="margin: 5px 0px 5px 0px">
              <button *ngFor="let x of StudentsInfo.policy" type="button" class="btn btn-danger"
                style="cursor: default;margin-left: 10px">
                {{x.name}}
                <span class="badge badge-light">{{x.value}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="box box-primary box-solid" style="width: 100%;">
          <div class="box-header with-border">
            <h3 class="box-title">性别比例</h3>
          </div>
          <div class="box-body">
            <div echarts (chartInit)="onSexRateChartInit($event)" [options]="mSexRate"
              style="width:320px;height: 250px;"></div>
          </div>
        </div>

        <div *ngIf="IsShowKaoqinGraph" class="box box-primary box-solid" style="width: 100%;margin-top: 10px;">
          <div class="box-header with-border">
            <h3 class="box-title">考勤</h3>
          </div>
          <div class="box-body">
            <div (chartInit)="onKaoqinChartInit($event)" echarts [options]="KaoqinOpt"
              style="width:300px;height:260px;"></div>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="学生列表" style="width:1140px;">
    <div class="container">
      <div class="row">
        <div class="col">
          <table-function [Table]="dt" [FrameStyle]="{'float':'right'}"></table-function>
        </div>
      </div>
    </div>
    <p-table #dt [columns]="cols" [value]="QueryResult" [scrollable]="true" (onRowSelect)="onRowSelect($event)"
      selectionMode="single" scrollHeight="620px" [style]="{'width':'100%','min-width':'600px'}"
      [exportFilename]="ClassName + '学生列表'">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'id'" style="width: 40px">
            学号
            <p-sortIcon [field]="'id'">
            </p-sortIcon>
          </th>
          <th [pSortableColumn]="'name'" style="width: 60px">
            姓名
            <p-sortIcon [field]="'name'">
            </p-sortIcon>
          </th>
          <th [pSortableColumn]="'sex'" style="width: 40px">
            性别
            <p-sortIcon [field]="'sex'">
            </p-sortIcon>
          </th>
          <th [pSortableColumn]="'bornDate'" style="width: 60px">
            出生年
            <p-sortIcon [field]="'bornDate'">
            </p-sortIcon>
          </th>
          <th [pSortableColumn]="'policy'" style="width: 80px">
            政治面貌
            <p-sortIcon [field]="'policy'">
            </p-sortIcon>
          </th>
          <th [pSortableColumn]="'nation'" style="width: 50px">
            民族
            <p-sortIcon [field]="'nation'">
            </p-sortIcon>
          </th>
          <th [pSortableColumn]="'nativePlace'" style="width: 100px">
            出生地
            <p-sortIcon [field]="'nativePlace'">
            </p-sortIcon>
          </th>
          <th *ngIf="ClassName.indexOf('高三')>=0" [pSortableColumn]="'optionCourse'" style="width: 100px">
            七选三
            <p-sortIcon [field]="'optionCourse'">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-itemData>
        <tr [pSelectableRow]="itemData">
          <td style="width: 40px">{{itemData.id}}</td>
          <td style="width: 60px">{{itemData.name}}</td>
          <td style="width: 40px">{{itemData.sex}}</td>
          <td style="width: 60px">{{itemData.bornDate}}</td>
          <td style="width: 80px">{{itemData.policy}}</td>
          <td style="width: 50px">{{itemData.nation}}</td>
          <td style="width: 100px">{{itemData.nativePlace}}</td>
          <td *ngIf="ClassName.indexOf('高三')>=0" style="width: 100px">{{itemData.optionCourse}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="成绩" style="width:1140px;">
    <div class="container" style="padding: 0px ">
      <div class="row">
        <div class="col">
          <div class="box box-primary  box-solid" style="width: 100%;margin-top: 10px;margin-bottom: 5px;">
            <div class="box-header with-border">
              <h3 class="box-title">任课教师</h3>
            </div>
            <div class="box-body">
              <div style="margin: 5px 0px 5px 0px">
                <button *ngFor="let teacher of this.Teachers" type="button" class="btn btn-info"
                  style="margin-left: 10px;"
                  (click)="JumpToTeacher(teacher.id)">{{teacher.subName}}：{{teacher.name}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p-tabView>
            <p-tabPanel *ngFor="let item of this.Exams" [header]="item[0].record.term">
              <class-exam-list #classExamList [CSVFilename]="ClassName +  item[0].record.term + '学期考试一览'" [Exams]="item"
                [scrollHeight]="'600px'" [IsShowClassName]="false" style="padding:5px 0px;"></class-exam-list>
            </p-tabPanel>
            <p-tabPanel [header]="'期中考试趋势'">
              <div class="container">
                <div class="row" *ngFor="let opt of this.subNameOptionsMid">
                  <div class="col">
                    <div echarts [options]="opt" style="width:1000px;height:350px;">
                    </div> 
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel [header]="'期末考试趋势'">
              <div class="container">
                <div class="row" *ngFor="let opt of this.subNameOptionsFinal">
                  <div class="col">
                    <div echarts [options]="opt" style="width:1000px;height:350px;">
                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel [header]="'期中期末趋势'">
              <div class="container">
                <div class="row" *ngFor="let opt of this.subNameOptionsMidFinal">
                  <div class="col">
                    <div echarts [options]="opt" style="width:1000px;height:350px;">
                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>