<p-dialog header="教师查询器" [(visible)]="this.display" modal="modal" [responsive]="true">
  <div style="height: 520px;width:640px">
    <div>
      &nbsp;&nbsp;
      <b>年级&nbsp;&nbsp;&nbsp;</b>
      <p-dropdown [options]="Gradelist" [(ngModel)]="SelectGrade" [style]="{'width':'150px'}" placeholder="选择一个年级">
      </p-dropdown>&nbsp; &nbsp;&nbsp;
      <b>课程&nbsp;&nbsp;&nbsp;</b>
      <p-dropdown [options]="Sublist" [(ngModel)]="SelectSub" [style]="{'width':'150px'}" placeholder="选择一门课程">
      </p-dropdown>
      &nbsp; &nbsp;
      <button class="btn btn-primary" (click)="query()"><i class="fa fa-search"></i>&nbsp;检索</button>
      <br />
      <br />
      <p-table [value]="this.Teachers" selectionMode="single" [(selection)]="this.selectTeacher" [scrollable]="true"
        scrollHeight="400px" (onRowSelect)="onRowSelect()">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50px">员工ID</th>
            <th style="width: 100px">姓名</th>
            <th style="width: 100px">年级</th>
            <th style="width: 150px">学科</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-itemData>
          <tr [pSelectableRow]="itemData">
            <td style="width: 50px">{{itemData.id}}</td>
            <td style="width: 100px">{{itemData.name}}</td>
            <td style="width: 100px">{{itemData.graName}}</td>
            <td style="width: 150px">{{itemData.subName}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-footer style="text-align:left">
    <div class="alert alert-warning" role="alert">
      这里仅列出2018-2019-1学期任职教师
    </div>
  </p-footer>
</p-dialog>
<app-error-message-dialog></app-error-message-dialog>