<app-nav></app-nav>
<br />
<div class="card">
    <div class="card-header card-header-text card-header-warning">
        <h4 class="card-title">{{this.CurrentTeachers[0].name}} - {{this.CurrentTeachers[0].subName}}</h4>
        <p class="category">
            本学期班级数：{{CurrentClassCnt}}
            <br />
            班级总数：{{TotalClassCnt}}
        </p>
    </div>
    <div class="card-body" style="padding:0.5em">
        <p-tabView>
            <p-tabPanel [header]="'成绩列表'">
                <class-exam-list [Exams]="this.Exams"></class-exam-list>
            </p-tabPanel>
            <p-tabPanel [header]="'本学期班级'">
                <div class="card">
                    <div class="card-body">
                        <ul class="heroes linkheroes" style="width: auto;height: auto;padding: 0px;margin: 0px;">
                            <li *ngFor="let teacher of this.CurrentTeachers" style="width: 300px;float:left;"
                                (click)="JumpToClass(teacher.classId)">
                                <span class="badge" style="width:100px">{{teacher.term}}
                                </span>{{teacher.className}}
                                <i class="fa fa-search"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel [header]="Term.year + '学年班级'" *ngFor="let Term of this.TeacherHistory">
                <div class="card">
                    <div class="card-body">
                        <ul class="heroes" style="width: auto;height: auto;padding: 0px;margin: 0px;">
                            <li *ngFor="let classname of Term.classname" style="width: 300px;float:left;"
                                (click)="JumpToClass(teacher.classId)">
                                <span class="badge" style="width:100px">{{Term.year}}
                                </span>{{classname}}
                                <i class="fa fa-search"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>