<app-nav></app-nav>
<div class="container" style="background:white;">
    <div class="row" style="width:1140px;">
        <div class="col-4">
            <ngx-timeline [events]="events">
                <ng-template let-event let-index="rowIndex" timelineBody>
                    <ul class="heroes">
                        <li *ngFor="let classname of event.body.split(',')" style="width:120px">
                            <span class="badge" style="width:30px">
                                <i class="fa fas fa-graduation-cap"></i>
                            </span> {{classname}}
                        </li>
                    </ul>
                </ng-template>
            </ngx-timeline>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header card-header-text card-header-primary">
                    <h4 class="card-title">{{this.Current[0].name}}</h4>
                    <p class="category">{{this.Current[0].subName}} - 2018-2019-1学期</p>
                </div>
                <div class="card-body" style="padding:0.5em">
                    <ul class="heroes">
                        <li *ngFor="let teacher of this.Current" style="cursor: pointer;width: 300px;"
                            (click)="JumpToClass(teacher.classId)">
                            <span class="badge" style="width:100px">{{teacher.term}} </span>{{teacher.className}}
                            <i class="fa fa-search"></i>
                        </li>
                    </ul>
                    <class-exam-list [Exams]="this.Exams"></class-exam-list>
                </div>
            </div>
        </div>
    </div>
</div>