<app-nav></app-nav>
<br />
<div class="card">
    <div class="card-header card-header-text card-header-warning">
        <h4 class="card-title">{{this.CurrentTeachers[0].name}} - {{this.CurrentTeachers[0].subName}}</h4>
        <p class="category">
            本学期班级数：{{CurrentClassCnt}}
            <br />
            班级总数：{{TotalClassCnt}}
        </p>
    </div>
    <div class="card-body" style="padding:0.5em">
        <p-tabView>
            <p-tabPanel [header]="'成绩列表'">
                <class-exam-list [Exams]="this.Exams" [IsShowTeacher]="false"
                    [CSVFilename]="this.CurrentTeachers[0].name + '(' + this.CurrentTeachers[0].subName + ')任课班级成绩'">
                </class-exam-list>
            </p-tabPanel>
            <p-tabPanel [header]="'本学期班级'">
                <div class="card">
                    <div class="card-body">
                        <button *ngFor="let teacher of this.CurrentTeachers" class="btn btn-info"
                            style="margin-left: 10px" (click)="JumpToClass(teacher.classId)">
                            <i class="fas fa-chalkboard-teacher"></i>&nbsp;{{teacher.className}}</button>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel [header]="Term.year + '学年班级'" *ngFor="let Term of this.TeacherHistory">
                <div class="card">
                    <div class="card-body">
                        <button *ngFor="let classname of Term.classname" class="btn btn-info"
                        style="margin-left: 10px;cursor: default;">
                        <i class="fas fa-chalkboard-teacher"></i>&nbsp;{{classname}}</button>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>