<div class="container">
  <div class="row">
    <div class="col" *ngIf="subName.length > 2">
      <div style="margin-top: 10px;margin-bottom: 10px;">
        科目选择：
        <p-dropdown #subnamelist [options]="subName" (onChange)="dt.filter($event.value, 'subName', 'equals')">
        </p-dropdown>
      </div>
    </div>
    <table-function [Table]="dt" [FrameStyle]="{'float':'right'}"></table-function>
  </div>
</div>

<p-table #dt [value]="this.Scores" selectionMode="single" (onRowSelect)="onRowSelect($event)" [scrollable]="true"
  scrollHeight="400px" [columns]="cols" [exportFilename]="CSVFilename">
  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="Mode !== 'Same'" style="width: 50px" [pSortableColumn]="'studentID'">学号
        <p-sortIcon [field]="'studentID'">
        </p-sortIcon>
      </th>
      <th *ngIf="Mode !== 'Same'" style="width: 50px" [pSortableColumn]="'studentName'">姓名
        <p-sortIcon [field]="'studentName'">
        </p-sortIcon>
      </th>
      <th *ngIf="Mode === 'Same'" style="width: 200px" [pSortableColumn]="'numberName'">考试名称
        <p-sortIcon [field]="'numberName'">
        </p-sortIcon>
      </th>
      <th *ngIf="Mode === 'Same'" style="width: 50px" [pSortableColumn]="'subName'">科目
        <p-sortIcon [field]="'subName'">
        </p-sortIcon>
      </th>
      <th style="width: 40px" [pSortableColumn]="'score'">分数
        <p-sortIcon [field]="'score'">
        </p-sortIcon>
      </th>
      <th style="width: 40px" [pSortableColumn]="'scorePercent'">得分率
        <p-sortIcon [field]="'scorePercent'">
        </p-sortIcon>
      </th>
      <th style="width: 40px" [pSortableColumn]="'gradeAvgDiff'">年级离均值
        <p-sortIcon [field]="'gradeAvgDiff'">
        </p-sortIcon>
      </th>
      <th style="width: 40px" [pSortableColumn]="'classAvgDiff'">班级离均值
        <p-sortIcon [field]="'classAvgDiff'">
        </p-sortIcon>
      </th>
      <th style="width: 50px" [pSortableColumn]="'tScore'">T分数
        <p-sortIcon [field]="'tScore'">
        </p-sortIcon>
      </th>
      <th style="width: 50px" [pSortableColumn]="'zScore'">Z分数
        <p-sortIcon [field]="'zScore'">
        </p-sortIcon>
      </th>
      <th style="width: 50px" [pSortableColumn]="'dengdi'">等第
        <p-sortIcon [field]="'dengdi'">
        </p-sortIcon>
      </th>
      <th style="width: 50px" [pSortableColumn]="'classRank'">班级排名
        <p-sortIcon [field]="'classRank'">
        </p-sortIcon>
      </th>
      <th style="width: 50px" [pSortableColumn]="'gradeRank'">年级排名
        <p-sortIcon [field]="'gradeRank'">
        </p-sortIcon>
      </th>
      <th style="width: 50px" [pSortableColumn]="'gradeRankPercent'">年级排名百分比
        <p-sortIcon [field]="'gradeRankPercent'">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-itemData>
    <tr [pSelectableRow]="itemData" [ngStyle]="this.GetStyle(itemData)">
      <td *ngIf="Mode !== 'Same'" style="width: 50px">{{itemData.studentID}}</td>
      <td *ngIf="Mode !== 'Same'" style="width: 50px">{{itemData.studentName}}</td>
      <td *ngIf="Mode === 'Same'" style="width: 200px">{{itemData.numberName}}</td>
      <td *ngIf="Mode === 'Same'" style="width: 50px">{{itemData.subName}}</td>
      <td style="width: 40px;text-align:right;">{{itemData.score}}</td>
      <td style="width: 40px;text-align:right;">{{itemData.scorePercent}}</td>
      <td style="width: 40px;text-align:right;">{{roundvalue(itemData.gradeAvgDiff)}}</td>
      <td style="width: 40px;text-align:right;">{{roundvalue(itemData.classAvgDiff)}}</td>
      <td style="width: 50px;text-align:right;">{{roundvalue(itemData.tScore)}}</td>
      <td style="width: 50px;text-align:right;">{{roundvalue(itemData.zScore)}}</td>
      <td style="width: 50px;text-align:right;">{{roundvalue(itemData.dengdi)}}</td>
      <td style="width: 50px;text-align:right;">{{itemData.classRank}}</td>
      <td style="width: 50px;text-align:right;">{{itemData.gradeRank}}</td>
      <td style="width: 50px;text-align:right;">{{itemData.gradeRankPercent}}</td>
    </tr>
  </ng-template>
</p-table>