<app-nav></app-nav>
<div class="container" style="margin: 0px;padding: 0px;">
    <div class="row" style="width:1140px;margin: 0px;">
        <div class="col" style="padding:0px;">
            <div style="padding: 10px 10px;background: white;">
                <b>年级&nbsp;&nbsp;&nbsp;</b>
                <p-dropdown [options]="Gradelist" [(ngModel)]="SelectGrade" [style]="{'width':'150px'}"
                    placeholder="选择一个年级" (onChange)="GradeChange()">
                </p-dropdown>&nbsp; &nbsp;&nbsp;
                <b>考试&nbsp;&nbsp;&nbsp;</b>
                <p-dropdown [options]="Examlist" [(ngModel)]="SelectExamNumber" [style]="{'width':'300px'}"
                    placeholder="选择一次考试" (onChange)="ExamChange()">
                </p-dropdown>
            </div>
        </div>
    </div>
    <div class="row" style="width:1140px;margin: 0px;">
        <div class="col" style="padding:0px;">
            <div class="box box-primary  box-solid" style="width: 100%;margin-top: 10px;margin-bottom: 5px;">
                <div class="box-header with-border">
                    <h3 class="box-title">{{SelectExamName}}</h3>
                </div>
                <div class="box-body">
                    <div style="margin: 5px 0px 5px 0px">
                        <button *ngFor="let item of SubNameList" type="button" class="btn btn-info"
                            style="margin-left: 10px;"
                            (click)="JumpToExam(SelectExamNumber,item,SelectGrade)">{{item}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width:1140px;margin: 0px;">
        <div class="col" style="padding:0px;">
            <p-tabView *ngIf="this.Exams.length !== 0">
                <p-tabPanel [header]="'概要'">
                    <div class="card">
                        <div class="card-header card-header-text card-header-warning">
                            <h4 class="card-title">{{Title}}</h4>
                            <p class="category">{{subTitle}}</p>
                        </div>
                        <div class="card-body">
                            <class-exam-list [Exams]="this.Exams" [Footer]="FootExam" [scrollHeight]="'600px'"
                                [IsShowTeacher]="this.Exams[0].record.subId !=='99' && this.Exams[0].record.subId !=='98'"
                                [IsShowExamName]="false" [CSVFilename]="Title + subTitle">
                            </class-exam-list>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="'教师'" *ngIf="TeacherExams.length > 0">
                    <div class="card">
                        <div class="card-header card-header-text card-header-warning">
                            <h4 class="card-title">{{Title}}</h4>
                            <p class="category">{{subTitle}}</p>
                        </div>
                        <div class="card-body">
                            <class-exam-list [Exams]="this.TeacherExams" [scrollHeight]="'600px'"
                                [IsShowTeacher]="this.Exams[0].record.subId !=='99' && this.Exams[0].record.subId !=='98'"
                                [FunRowSelect]="JumpToTeacher" [IsShowClassName]="false" [IsShowExamName]="false"
                                [CSVFilename]="Title + subTitle">
                            </class-exam-list>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="'排行榜'">

                    <div class="card">
                        <div class="card-header card-header-text card-header-warning">
                            <h4 class="card-title">前10名</h4>
                            <p class="category">{{Title}} - {{subTitle}}</p>
                        </div>
                        <div class="card-body">
                            <exam-list [Scores]="Top10" [Mode]="'DIFF'" [CSVFilename]="'前10名 ' + Title + subTitle"
                                [IsColorful]="false"></exam-list>
                        </div>
                    </div>
                    <br /><br />
                    <div class="card">
                        <div class="card-header card-header-text card-header-warning">
                            <h4 class="card-title">后10名</h4>
                            <p class="category">{{Title}} - {{subTitle}}</p>
                        </div>
                        <div class="card-body">
                            <exam-list [Scores]="Low10" [Mode]="'DIFF'" [CSVFilename]="'后10名 ' + Title + subTitle"
                                [IsColorful]="false"></exam-list>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="'班级比较'">
                    <div echarts [options]="mScoreRadarOption"
                        style="width:1100px;height: 650px;border: 2px solid lightgray;padding: 5px;margin: 5px;"
                        (chartInit)="onRadarChartInit($event)"></div>
                    <div *ngIf="SubName !=='7选3'" echarts [options]="mTop50ClassOption"
                        style="width:1100px;height: 650px;border: 2px solid lightgray;padding: 5px;margin: 5px;"
                        (chartInit)="onTop50ClassChartInit($event)"></div>
                    <div *ngIf="SubName !=='7选3'" echarts [options]="mTop50ScatterOption"
                        style="width:1100px;height: 650px;border: 2px solid lightgray;padding: 5px;margin: 5px;"
                        (chartInit)="onTop50ScatterChartInit($event)"></div>
                </p-tabPanel>
                <p-tabPanel [header]="'分数段人数'">
                    <div echarts [options]="mScoreFunnelOption"
                        style="width:1100px;height: 650px;border: 2px solid lightgray;padding: 5px;margin: 5px;"
                        (chartInit)="onFunnelChartInit($event)"></div>
                    <div echarts [options]="ScorePercentBarOption"
                        style="width:1100px;height: 650px;border: 2px solid lightgray;padding: 5px;margin: 5px;"
                        (chartInit)="onScorePercentBarChartInit($event)"></div>
                </p-tabPanel>
                <p-tabPanel [header]="'偏科分析'">
                    <p-dropdown [options]="SideSubNameList" [(ngModel)]="SelectSideSubName"
                        (onChange)="SideSubNameChanged()">
                    </p-dropdown>
                    <b>&nbsp;&nbsp;对角线点表示排名平均，红色点的同时表示偏科，其中靠近坐标轴的表示其中一门课程特别好</b>
                    <div echarts [options]="mSideCourseOption"
                        style="width:1100px;height: 650px;border: 2px solid lightgray;padding: 5px;margin: 5px;"
                        (chartInit)="onSideCourseChartInit($event)"></div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>