<p-dialog header="班级查询器" [(visible)]="this.display" modal="modal" [responsive]="true">
  <div style="height: 550px;width:440px">
    <div>
      &nbsp;&nbsp;
      <b>年级&nbsp;&nbsp;&nbsp;</b>
      <p-dropdown (onChange)="RefreshList()" [options]="Gradelist" [(ngModel)]="SelectGrade" [style]="{'width':'150px'}"
        placeholder="选择一个年级">
      </p-dropdown>
      <br /> <br />
      <b>过滤条件&nbsp;&nbsp;&nbsp;</b>
      <p-selectButton [options]="Campus" [(ngModel)]="selectedCampus" (onChange)="RefreshList()"></p-selectButton>
      &nbsp;&nbsp;
      <p-selectButton [options]="Addtional" [(ngModel)]="selectedAddtional" (onChange)="RefreshList()"></p-selectButton>
      <div class="container">
        <div class="row">
          <div class="col">
            <table-function [Table]="dt" [FrameStyle]="{'float':'right'}" [OutputOnly]="true"></table-function>
          </div>
        </div>
      </div>
      <p-table #dt [value]="this.Classes" selectionMode="single" [(selection)]="this.selectClass" [scrollable]="true"
        scrollHeight="360px" (onRowSelect)="onRowSelect()" [columns]="cols" [exportFilename]="'班级检索器'">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 100px">班级</th>
            <th style="width: 50px">编号</th>
            <th style="width: 50px">人数</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-itemData>
          <tr [pSelectableRow]="itemData">
            <td style="width: 100px">{{itemData.label}}</td>
            <td style="width: 50px">{{itemData.value}}</td>
            <td style="width: 50px">{{itemData.count}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-footer style="text-align:left">
    <div class="alert alert-warning" role="alert">
      这里仅列出2018-2019-1的班级
    </div>
  </p-footer>
</p-dialog>
<app-error-message-dialog></app-error-message-dialog>