<app-nav></app-nav>
<div class="container" style="margin: 0px;">
  <div class="row" style="width:1140px;height: 400px;">
    <div class="col-4" style="padding: 0px;">
      <div class="card text-right" style="margin-bottom: 0px;">
        <div class="card-header card-header-image">
          <img src="Card" src="assets/image/BaiYangCampus.jpg" height="300px">
        </div>
        <div class="card-body">
          <div class="stats">
            <b>白杨校区 宁波市白杨街178号</b>
            <br />
            <button type="button" class="btn btn-info" (click)="ShowCampus('白')"><i
                class="fa fas fa-chart-bar"></i>&nbsp;详细</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" style="padding-right:0px">
      <div class="card text-right" style="margin-bottom: 0px;">
        <div class="card-header card-header-image">
          <img src="Card" src="assets/image/EastCampus.jpg" height="300px">
        </div>
        <div class="card-body">
          <div class="stats">
            <b>东部校区 宁波市百丈东路1907号</b>
            <br />
            <button type="button" class="btn btn-info" (click)="ShowCampus('东')"><i
                class="fa fas fa-chart-bar"></i>&nbsp;详细</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4" style="padding-right:0px;">
      <div class="box box-primary box-solid" style="width: 100%;margin-top: 0px;">
        <div class="box-header with-border">
          <h3 class="box-title">性别比例</h3>
          <div class="box-tools pull-right">
            <button type="button" style="margin: 0px;" class="btn btn-info btn-box-tool" (click)="SaveSexRateImage()">
              <i class="fas fa-file-download"></i>&nbsp;保存为图片
            </button>
          </div>
        </div>
        <div class="box-body">
          <div echarts (chartInit)="SexRateChartInit($event)" [options]="SexRateSunburstOption"
            style="width:340px;height:315px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="width:1140px">
    <div class="col-8" style="padding: 0px;">
      <app-map [NativePlace]="this.schoolinfo.total.property.nativePlace" [StyleHeight]="'600px'" [StyleWidth]="'700px'"
        [NativePlaceZheJiang]="this.schoolinfo.total.property.nativePlaceZheJiang">
      </app-map>
    </div>

    <div class="col-4" style="padding-right:0px;">

      <div class="box box-primary  box-solid" style="width: 100%;">
        <div class="box-header with-border">
          <h3 class="box-title">概要</h3>
        </div>
        <div class="box-body">
          <div style="margin: 5px 0px 5px 0px">
            <button type="button" class="btn btn-info" style="cursor: default;margin-left: 10px">
              学生数 <span class="badge badge-light">{{this.schoolinfo.total.property.studentCnt}}</span>
              <span class="sr-only">学生数</span>
            </button>
            <button type="button" class="btn btn-info" style="cursor: default;margin-left: 10px">
              学生数(IB) <span class="badge badge-light">{{this.schoolinfo.total.property.studentIBCnt}}</span>
              <span class="sr-only">学生数</span>
            </button>
            <button type="button" class="btn btn-info" style="cursor: default;margin-left: 10px">
              教师数 <span class="badge badge-light">{{this.schoolinfo.total.teacherCnt}}</span>
              <span class="sr-only">教师数</span>
            </button>
            <button type="button" class="btn btn-info" style="cursor: default;margin-left: 10px">
              班级数 <span class="badge badge-light">{{this.schoolinfo.total.classCnt}}</span>
              <span class="sr-only">班级数</span>
            </button>
          </div>
        </div>
      </div>

      <div class="box box-primary  box-solid" style="width: 100%;margin-top: 10px;">
        <div class="box-header with-border">
          <h3 class="box-title">民族</h3>
        </div>
        <div class="box-body">
          <div style="margin: 5px 0px 5px 0px">
            <button *ngFor="let x of this.schoolinfo.total.property.nation" type="button" class="btn btn-primary"
              style="cursor: default;margin-left: 10px">
              {{x.name}}
              <span class="badge badge-light">{{x.value}}</span>
            </button>
          </div>
        </div>
      </div>

      <div class="box box-primary  box-solid" style="width: 100%;margin-top: 10px;">
        <div class="box-header with-border">
          <h3 class="box-title">政治面貌</h3>
        </div>
        <div class="box-body">
          <div style="margin: 5px 0px 5px 0px">
            <button *ngFor="let x of this.schoolinfo.total.property.policy" type="button" class="btn btn-danger"
              style="cursor: default;margin-left: 10px">
              {{x.name}}
              <span class="badge badge-light">{{x.value}}</span>
            </button>
          </div>
        </div>
      </div>

      <div class="box box-primary  box-solid" style="width: 100%;margin-top: 10px;">
        <div class="box-header with-border">
          <h3 class="box-title">系统使用数据</h3>
        </div>
        <div class="box-body">
          <div style="margin: 5px 0px 5px 0px">
            <button type="button" class="btn btn-warning" style="cursor: default;margin-left: 10px">
              学生数据
              <span class="badge badge-light">1765</span>
            </button>
            <button type="button" class="btn btn-warning" style="cursor: default;margin-left: 10px">
              考勤数据
              <span class="badge badge-light">23630</span>
            </button>
            <button type="button" class="btn btn-warning" style="cursor: default;margin-left: 10px">
              消费数据
              <span class="badge badge-light">463904</span>
            </button>
            <button type="button" class="btn btn-warning" style="cursor: default;margin-left: 10px">
              考试数据
              <span class="badge badge-light">471686</span>
            </button>
            <button type="button" class="btn btn-warning" style="cursor: default;margin-left: 10px">
              教师数据
              <span class="badge badge-light">3088</span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>