<app-nav></app-nav>
<p-tabView>
    <p-tabPanel header="概要" style="width:1140px;">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div echarts [options]="KaoqinOption" style="width:800px;height:800px;"></div>

                </div>
                <div class="col-4">
                    <table class="table">
                        <tr *ngFor="let x of KaoqinDateList">
                            <td *ngIf="x.value !== 0"> {{x.catalog}} </td>
                            <td *ngIf="x.value !== 0"> {{x.value}} </td>
                            <th *ngIf="x.value === 0" colspan=2> {{x.catalog}} </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="迟到_晚到" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            迟到_晚到的数据到2016年4月为止
        </div>
        <div echarts [options]="Kaoqin10MonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
    <p-tabPanel header="校徽_早退" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            校徽_早退的数据到2016年2月为止
        </div>
        <div echarts [options]="Kaoqin20MonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
    <p-tabPanel header="操场考勤机" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            操场考勤机的数据到2014年6月为止
        </div>
        <div echarts [options]="Kaoqin30MonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
    <p-tabPanel header="移动考勤机" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            移动考勤机的数据从2015年4月开始
        </div>
        <div echarts [options]="Kaoqin99MonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
</p-tabView>