<app-nav></app-nav>
<p-tabView>
    <p-tabPanel header="概要" style="width:1140px;">
        <p-overlayPanel #op01 [showCloseIcon]="true" [dismissable]="true">
            从历史数据来看，由于学校的设备更新原因，每种设备都发现明显的使用结束月份。每种考勤记录数也差距非常的。
        </p-overlayPanel>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-info" style="height: 30px;float:right;margin: 5px;"
                        (click)="op01.show($event)"><i class="fas fa-question"></i>&nbsp;说明</button>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div echarts [options]="KaoqinOption" style="width:800px;height:800px;"></div>
                </div>
                <div class="col-4">
                    <table class="table">
                        <tr *ngFor="let x of KaoqinDateList">
                            <td *ngIf="x.value !== 0"> {{x.catalog}} </td>
                            <td *ngIf="x.value !== 0"> {{x.value}} </td>
                            <th *ngIf="x.value === 0" colspan=2 style="font-size: 15px;"> {{x.catalog}} </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="本学期考勤数据" style="width:1140px;">
        <p-overlayPanel #op11 [showCloseIcon]="true" [dismissable]="true">
            男生和女生在考勤上没有很大区别，住校生基本上不会发生迟到早退和校服问题。
        </p-overlayPanel>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-info" style="height: 30px;float:right;margin: 5px;"
                        (click)="op11.show($event)"><i class="fas fa-question"></i>&nbsp;说明</button>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col" style="padding: 0px;margin: 0px;">
                    <div style="border: 0px solid lightgray;padding: 0px;margin: 0px;width: 540px;">
                        <div echarts [options]="SexCntOption" style="width:520px;height:400px;">
                        </div>
                    </div>
                </div>
                <div class="col" style="padding-right:0px">
                    <div style="border: 0px solid lightgray;padding: 0px;margin: 0px;width: 100%;">
                        <div echarts [options]="LiveAtSchoolCntOption" style="width:520px;height:400px;">
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border:1px dashed #000; height:1px;width: 95%">
            <div class="row" style="margin-top:10px;">
                <div style="border-right: 2px dashed lightgray;padding: 0px;margin: 0px;width: 370px;">
                    <div class="col" style="padding: 0px;margin: 0px;">
                        <div echarts [options]="MinuteFrom6" style="width:365px;height:450px;"></div>
                    </div>
                </div>
                <div style="border: 0px dashed lightgray;padding: 0px;margin: 0px;width: 370px;">
                    <div class="col" style="padding: 0px;margin: 0px;">
                        <div echarts [options]="MinuteFrom11" style="width:365px;height:450px;"></div>
                    </div>
                </div>
                <div style="border-left: 2px dashed lightgray;padding: 0px;margin: 0px;width: 370px;">
                    <div class="col" style="padding: 0px;margin: 0px;">
                        <div echarts [options]="MinuteFrom16" style="width:365px;height:450px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="考勤历史数据时间轴" style="width:1140px;">
        <p-overlayPanel #op21 [showCloseIcon]="true" [dismissable]="true">
            迟到_晚到的数据到2016年4月为止<br />
            校徽_早退的数据到2016年2月为止<br />
            操场考勤机的数据到2014年6月为止<br />
            移动考勤机的数据从2015年4月开始
        </p-overlayPanel>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-info" style="height: 30px;float:right;margin: 5px;"
                        (click)="op21.show($event)"><i class="fas fa-question"></i>&nbsp;说明</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div echarts [options]="TimeLineOption" style="width:540px;height:620px;"></div>
                </div>
                <div class="col-6">
                    <div echarts [options]="Kaoqin10MonthOption" style="width:540px;height:300px;"></div>
                    <hr style="border:1px dashed #000; height:1px;width: 95%">
                    <div echarts [options]="Kaoqin20MonthOption" style="width:540px;height:300px;"></div>
                </div>
                <hr style="border:1px dashed #000; height:1px;width: 95%">
                <div class="row">
                    <div class="col-6">
                        <div echarts [options]="Kaoqin30MonthOption" style="width:540px;height:300px;"></div>
                    </div>
                    <div class="col-6">
                        <div echarts [options]="Kaoqin99MonthOption" style="width:540px;height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="违规行为" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            迟到和晚到是一个意思，不同老师的录入风格不同。
        </div>
        <div echarts [options]="KaoqinAbnormalMonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
</p-tabView>