<app-nav></app-nav>
<p-tabView>
    <p-tabPanel header="概要" style="width:1140px;">
        <div class="container">
            <div class="alert alert-warning">
                从历史数据来看，由于学校的设备更新原因，每种设备都发现明显的使用结束月份。每种考勤记录数也差距非常的。
            </div>
            <div class="row">
                <div class="col-8">
                    <div echarts [options]="KaoqinOption" style="width:800px;height:800px;"></div>
                </div>
                <div class="col-4">
                    <table class="table">
                        <tr *ngFor="let x of KaoqinDateList">
                            <td *ngIf="x.value !== 0"> {{x.catalog}} </td>
                            <td *ngIf="x.value !== 0"> {{x.value}} </td>
                            <th *ngIf="x.value === 0" colspan=2 style="font-size: 15px;"> {{x.catalog}} </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="本学期学生" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            男生和女生在考勤上没有很大区别，住校生基本上不会发生迟到早退和校服问题。
        </div>
        <div class="container">
            <div class="row" style="margin-top:10px;">
                <div class="col" style="padding: 0px;margin: 0px;">
                    <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 540px;">
                        <div echarts [options]="SexCntOption" style="width:520px;height:400px;">
                        </div>
                    </div>
                </div>
                <div class="col" style="padding-right:0px">
                    <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 100%;">
                        <div echarts [options]="LiveAtSchoolCntOption" style="width:520px;height:400px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 370px;">
                    <div class="col" style="padding: 0px;margin: 0px;">
                        <div echarts [options]="MinuteFrom6" style="width:365px;height:450px;"></div>
                    </div>
                </div>
                <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 370px;">
                    <div class="col" style="padding: 0px;margin: 0px;">
                        <div echarts [options]="MinuteFrom11" style="width:365px;height:450px;"></div>
                    </div>
                </div>
                <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 370px;">
                    <div class="col" style="padding: 0px;margin: 0px;">
                        <div echarts [options]="MinuteFrom16" style="width:365px;height:450px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="考勤历史时间轴" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            每个月考勤数据变化
        </div>
        <div echarts [options]="TimeLineOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
    <p-tabPanel header="迟到_晚到" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            迟到_晚到的数据到2016年4月为止
        </div>
        <div echarts [options]="Kaoqin10MonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
    <p-tabPanel header="校徽_早退" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            校徽_早退的数据到2016年2月为止
        </div>
        <div echarts [options]="Kaoqin20MonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
    <p-tabPanel header="操场考勤机" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            操场考勤机的数据到2014年6月为止
        </div>
        <div echarts [options]="Kaoqin30MonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
    <p-tabPanel header="移动考勤机" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            移动考勤机的数据从2015年4月开始
        </div>
        <div echarts [options]="Kaoqin99MonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
    <p-tabPanel header="违规行为" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            迟到和晚到是一个意思，不同老师的录入风格不同。
        </div>
        <div echarts [options]="KaoqinAbnormalMonthOption" style="width:1080px;height:800px;"></div>
    </p-tabPanel>
</p-tabView>