<div class="container">
  <div class="row">
    <div class="col" *ngIf="subName.length > 2">
      <div style="margin-top: 10px;margin-bottom: 10px;">
        科目选择：
        <p-dropdown #subnamelist [options]="subName" (onChange)="dt.filter($event.value, 'subName', 'equals')">
        </p-dropdown>
      </div>
    </div>
    <table-function [Table]="dt" [FrameStyle]="{'float':'right'}"></table-function>
  </div>
</div>

<p-table #dt [value]="this.Exams" selectionMode="single" [scrollable]="true" [scrollHeight]="scrollHeight"
  (onRowSelect)="onRowSelect($event)" [columns]="cols">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 100px;" [pSortableColumn]="'record.className'">班级名
        <p-sortIcon [field]="'record.className'">
        </p-sortIcon>
      </th>
      <th *ngIf="IsShowExamName" style="width: 100px;" [pSortableColumn]="'record.numberName'">考试名称
        <p-sortIcon [field]="'record.numberName'">
        </p-sortIcon>
      </th>
      <th style="width: 80px;" [pSortableColumn]="'record.typeName'">考试类型
        <p-sortIcon [field]="'record.typeName'">
        </p-sortIcon>
      </th>
      <th style="width: 100px;" [pSortableColumn]="'record.term'">学期
        <p-sortIcon [field]="'record.term'">
        </p-sortIcon>
      </th>
      <th style="width: 50px;" [pSortableColumn]="'record.subName'">学科
        <p-sortIcon [field]="'record.subName'">
        </p-sortIcon>
      </th>
      <th style="width: 60px;" [pSortableColumn]="'avilibleCnt'">有效人数
        <p-sortIcon [field]="'avilibleCnt'">
        </p-sortIcon>
      </th>
      <th style="width: 50px;" [pSortableColumn]="'allCnt'">总人数
        <p-sortIcon [field]="'allCnt'">
        </p-sortIcon>
      </th>
      <th style="width: 50px;" [pSortableColumn]="'maxScore'">最高分
        <p-sortIcon [field]="'maxScore'">
        </p-sortIcon>
      </th>
      <th style="width: 50px;" [pSortableColumn]="'minScore'">最低分
        <p-sortIcon [field]="'minScore'">
        </p-sortIcon>
      </th>
      <th style="width: 50px;" [pSortableColumn]="'avgScore'">平均分
        <p-sortIcon [field]="'avgScore'">
        </p-sortIcon>
      </th>
      <th style="width: 50px;" [pSortableColumn]="'std'">标准差
        <p-sortIcon [field]="'std'">
        </p-sortIcon>
      </th>
      <th style="width: 50px;" [pSortableColumn]="'var'">方差
        <p-sortIcon [field]="'var'">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-itemData>
    <tr [pSelectableRow]="itemData">
      <td style="width: 100px">{{itemData.record.className}}</td>
      <td *ngIf="IsShowExamName" style="width: 100px">{{itemData.record.numberName}}</td>
      <td style="width: 80px">{{itemData.record.typeName}}</td>
      <td style="width: 100px">{{itemData.record.term}}</td>
      <td style="width: 50px">{{itemData.record.subName}}</td>
      <td style="width: 60px;text-align:right;"
        [ngStyle]="itemData.avilibleCnt !== itemData.allCnt?{'background':'lightyellow'}:{}">
        {{itemData.avilibleCnt}}</td>
      <td style="width: 50px;text-align:right;"
        [ngStyle]="itemData.avilibleCnt !== itemData.allCnt?{'background':'lightyellow'}:{}">
        {{itemData.allCnt}}</td>
      <td style="width: 50px;text-align:right;"
        [ngStyle]="Footer !== null && itemData.maxScore === Footer.maxScore?{'background':'lightgreen'}:{}">
        {{itemData.maxScore}}</td>
      <td style="width: 50px;text-align:right;"
        [ngStyle]="Footer !== null && itemData.minScore === Footer.minScore?{'background':'pink'}:{}">
        {{itemData.minScore}}</td>
      <td style="width: 50px;text-align:right;">{{itemData.avgScore}}</td>
      <td style="width: 50px;text-align:right;">{{itemData.std}}</td>
      <td style="width: 50px;text-align:right;">{{itemData.var}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer" *ngIf="Footer !==null">
    <tr>
      <td style="width: 100px">{{Footer.record.className}}</td>
      <td *ngIf="IsShowExamName" style="width: 100px">{{Footer.record.numberName}}</td>
      <td style="width: 80px">{{Footer.record.typeName}}</td>
      <td style="width: 100px">{{Footer.record.term}}</td>
      <td style="width: 50px">{{Footer.record.subName}}</td>
      <td style="width: 60px;text-align:right;">{{Footer.avilibleCnt}}</td>
      <td style="width: 50px;text-align:right;">{{Footer.allCnt}}</td>
      <td style="width: 50px;text-align:right;">{{Footer.maxScore}}</td>
      <td style="width: 50px;text-align:right;">{{Footer.minScore}}</td>
      <td style="width: 50px;text-align:right;">{{Footer.avgScore}}</td>
      <td style="width: 50px;text-align:right;">{{Footer.std}}</td>
      <td style="width: 50px;text-align:right;">{{Footer.var}}</td>
    </tr>
  </ng-template>
</p-table>