<app-nav></app-nav>

<p-tabView>
    <p-tabPanel header="概要" style="width:1140px;">
        <div class="container" style="width:1140px;">
            <p-overlayPanel #op01 [showCloseIcon]="true" [dismissable]="true">
                整体月度消费情况符合7月，8月放假的情况。周末的消费也明显少于平时，也符合预期。
            </p-overlayPanel>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-info" style="cursor: default">
                        住校生 <span class="badge badge-light">{{liveAtSchool}}</span>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" style="cursor: default">
                        非住校生 <span class="badge badge-light">{{notLiveAtSchool}}</span>
                    </button>
                    <button type="button" class="btn btn-info" style="height: 30px;float:right;margin: 5px;"
                        (click)="op01.show($event)"><i class="fas fa-question"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding: 0px;margin: 0px;">
                    <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 540px;">
                        <div echarts [options]="monthlyTotalOpt" style="width:520px;height:400px;"></div>
                    </div>
                </div>
                <div class="col" style="padding: 0px;margin: 0px;">
                    <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 540px;">
                        <div echarts [options]="weekdayTotalOpt" style="width:520px;height:400px;"></div>
                    </div>
                </div>
            </div>
            <p-overlayPanel #op02 [showCloseIcon]="true" [dismissable]="true">
                非住校生人数多于住校生，月度消费记录符合这个特征。
                除周日之外，非住校生的消费多于住校生，消费金额比例大致符合人数比例。
            </p-overlayPanel>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-info" style="height: 30px;float:right;margin: 5px;"
                        (click)="op02.show($event)"><i class="fas fa-question"></i></button>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col" style="padding: 0px;margin: 0px;">
                    <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 540px;">
                        <div echarts [options]="monthlyOpt" style="width:520px;height:400px;">
                        </div>
                    </div>
                </div>
                <div class="col" style="padding: 0px;margin: 0px;">
                    <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 540px;">
                        <div echarts [options]="weekdayOpt" style="width:520px;height:400px;"> </div>
                    </div>
                </div>
            </div>
            <p-overlayPanel #op03 [showCloseIcon]="true" [dismissable]="true">
                绝大部分的消费的单笔金额都小于20元。各个年级个人每日平均消费额差不多，没有显著区别。
            </p-overlayPanel>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-info" style="height: 30px;float:right;margin: 5px;"
                        (click)="op03.show($event)"><i class="fas fa-question"></i></button>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col" style="padding: 0px;margin: 0px;">
                    <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 540px;">
                        <div echarts [options]="PerRangeCntOption" style="width:520px;height:400px;">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 540px;">
                        <div echarts [options]="PerDayByGradeOption" style="width:520px;height:400px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="消费日历(金额和人数)" style="width:1140px;">
        <p-overlayPanel #op11 [showCloseIcon]="true" [dismissable]="true">
            从这个日历上看，金额和人数大体上是比较匹配的，每人消费金额总体上很平均。
        </p-overlayPanel>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-info" style="height: 30px;float:right;margin: 5px;"
                    (click)="op11.show($event)"><i class="fas fa-question"></i></button>
            </div>
        </div>
        <div echarts [options]="dailyOpt"
            style="width:1100px;height:740px;border: 2px solid lightgray;padding: 5px;margin: 5px">
        </div>
    </p-tabPanel>
    <p-tabPanel header="时段周别统计" style="width:1140px;">
        <p-overlayPanel #op21 [showCloseIcon]="true" [dismissable]="true">
            周一到周五学生在学校用餐，周五晚上住校生回家吃饭。周六周日大部分学生不在学校。
        </p-overlayPanel>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-info" style="height: 30px;float:right;margin: 5px;"
                    (click)="op21.show($event)"><i class="fas fa-question"></i></button>
            </div>
        </div>
        <div echarts [options]="WeekTimeOption"
            style="width:1100px;height:640px;border: 2px solid lightgray;padding: 5px;margin: 5px">
        </div>
        <div class="box box-primary box-solid" style="width: 100%;">
            <div class="box-header with-border">
                <h3 class="box-title">时段周别统计（3D）</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" (click)="SaveWeekTimeOption3DChartImage()">
                        <i class="fas fa-file-download"></i>保存为图片
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div echarts [options]="WeekTimeOption3D" (chartInit)="onWeekTimeOption3DChartInit($event)"
                    style="width:1080px;height:640px;border: 2px solid lightgray;padding: 5px;margin: 5px">
                </div>
            </div>
        </div>


    </p-tabPanel>
    <p-tabPanel header="时间线和时刻" style="width:1140px;">
        <div class="alert alert-warning" role="alert">
            至上而下分别是全体学生，住校学生，非住校学生，周次分时段消费变化的动态时间图
        </div>
        <div echarts [options]="WeekTimeLineOption"
            style="width:1100px;height:200px;border: 2px solid lightgray;padding: 5px;margin: 5px">
        </div>
        <div echarts [options]="WeekTimeLineLiveAtSchoolOption"
            style="width:1100px;height:200px;border: 2px solid lightgray;padding: 5px;margin: 5px">
        </div>
        <div echarts [options]="WeekTimeLineNotLiveAtSchoolOption"
            style="width:1100px;height:200px;border: 2px solid lightgray;padding: 5px;margin: 5px">
        </div>
        <div class="container">
            <div class="row" style="margin-top:10px;">
                <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 370px;">
                    <div class="col" style="padding: 0px;margin: 0px;">
                        <div echarts [options]="MinuteFrom6" style="width:365px;height:400px;"></div>
                    </div>
                </div>
                <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 370px;">
                    <div class="col" style="padding: 0px;margin: 0px;">
                        <div echarts [options]="MinuteFrom11" style="width:365px;height:400px;"></div>
                    </div>
                </div>
                <div style="border: 2px solid lightgray;padding: 0px;margin: 0px;width: 370px;">
                    <div class="col" style="padding: 0px;margin: 0px;">
                        <div echarts [options]="MinuteFrom16" style="width:365px;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="消费预警" style="width:1140px;">
        <div class="container">
            <div class="row">
                <div class="col-7">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <b>月消费上限：&nbsp;</b>
                                <p-dropdown [options]="MonthUpLimitList" [(ngModel)]="MonthUpLimit"
                                    [style]="{'width':'150px'}" placeholder="选择一个月消费金额："
                                    (onChange)="QueryByMonthUpLimit()">
                                </p-dropdown>
                                &nbsp;&nbsp;
                                <button style="margin-top: 10px" class="btn btn-primary" (click)="StudentQuery()">
                                    <i class="fa fa-search"></i>学生月度消费检索</button>
                                <table-function [Table]="studentcomsumption" [OutputOnly]="true"
                                    [FrameStyle]="{'float':'right'}">
                                </table-function>
                            </div>
                        </div>
                    </div>
                    <p-table #studentcomsumption [value]="this.Students" selectionMode="single"
                        [(selection)]="this.selectStudent" [scrollable]="true" scrollHeight="720px"
                        (onRowSelect)="onRowSelect($event)" [columns]="cols"
                        [exportFilename]="'学生月度消费(' + MonthUpLimit + '元)'">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 50px">学号</th>
                                <th style="width: 100px">姓名</th>
                                <th style="width: 100px">班级</th>
                                <th style="width: 50px" [pSortableColumn]="'sex'">性别
                                    <p-sortIcon [field]="'sex'">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 60px" [pSortableColumn]="'liveAtSchool'">住校
                                    <p-sortIcon [field]="'liveAtSchool'">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 80px" [pSortableColumn]="'month'">月度
                                    <p-sortIcon [field]="'month'">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 80px" [pSortableColumn]="'amount'">金额
                                    <p-sortIcon [field]="'amount'">
                                    </p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemData>
                            <tr [pSelectableRow]="itemData">
                                <td style="width: 50px">{{itemData.id}}</td>
                                <td style="width: 100px">{{itemData.name}}</td>
                                <td style="width: 100px">{{itemData.className}}</td>
                                <td style="width: 50px;text-align: center">{{itemData.sex}}</td>
                                <td style="width: 60px;text-align: center">{{itemData.liveAtSchool?"是":"否"}}</td>
                                <td style="width: 80px;text-align: center">{{itemData.month}}</td>
                                <td style="width: 80px;text-align: right;">{{itemData.amount}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-5">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            单笔消费记录
                        </div>
                        <div class="card-body" style="padding:5px;">
                            <div class="stats">
                                <div class="container">
                                    <student-item [Title]="item.accName + ' ' + item.monDeal * -1 + '元'"
                                        [Sex]="item.perSex" [StudentId]="item.studentID" [SubTitle]="item.dealTime"
                                        *ngFor="let item of this.highestRec"> </student-item>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            单笔消费记录[住校]
                        </div>
                        <div class="card-body" style="padding:5px;">
                            <div class="stats">
                                <div class="container">
                                    <student-item [Title]="item.accName + ' ' + item.monDeal * -1 + '元'"
                                        [Sex]="item.perSex" [StudentId]="item.studentID" [SubTitle]="item.dealTime"
                                        *ngFor="let item of this.highestRecLiveAtSchool">
                                    </student-item>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            单笔消费记录[非住校]
                        </div>
                        <div class="card-body" style="padding:5px;">
                            <div class="stats">
                                <div class="container">
                                    <student-item [Title]="item.accName + ' ' + item.monDeal * -1 + '元'"
                                        [Sex]="item.perSex" [StudentId]="item.studentID" [SubTitle]="item.dealTime"
                                        *ngFor="let item of this.highestRecNotLiveAtSchool">
                                    </student-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>

<app-studentPicker></app-studentPicker>
<app-error-message-dialog></app-error-message-dialog>
<p-toast position="bottom-center"></p-toast>