<app-nav></app-nav>

<p-tabView>
    <p-tabPanel header="概要" style="width:1140px;">
        <button type="button" class="btn btn-info" style="cursor: default">
            住校生 <span class="badge badge-light">{{liveAtSchool}}</span>
        </button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" style="cursor: default">
            非住校生 <span class="badge badge-light">{{notLiveAtSchool}}</span>
        </button>
        <br />
        <br />
        <div class="container" style="width:1140px;">
            <div class="row">
                <div class="col">
                    <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
                        <div echarts [options]="monthlyTotalOpt" style="width:480px;height:400px;"></div>
                    </div>
                </div>
                <div class="col">
                    <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
                        <div echarts [options]="weekdayTotalOpt" style="width:480px;height:400px;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
                        <div echarts [options]="monthlyOpt" style="width:480px;height:400px;">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
                        <div echarts [options]="weekdayOpt" style="width:480px;height:400px;"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
                        <div echarts [options]="PerRangeCntOption" style="width:480px;height:400px;">
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="消费统计（每天）" style="width:1140px;">
        <div echarts [options]="dailyOpt" style="width:1000px;height:640px;">
        </div>
    </p-tabPanel>
    <p-tabPanel header="时段周次统计(全体)" style="width:1140px;">
        <div echarts [options]="WeekTimeOption" style="width:1000px;height:640px;">
        </div>
    </p-tabPanel>
    <p-tabPanel header="时段周次统计(住校)" style="width:1140px;">
        <div echarts [options]="WeekTimeLiveAtSchoolOption" style="width:1000px;height:640px;">
        </div>
    </p-tabPanel>
    <p-tabPanel header="时段周次统计(非住校)" style="width:1140px;">
        <div echarts [options]="WeekTimeNotLiveAtSchoolOption" style="width:1000px;height:640px;">
        </div>
    </p-tabPanel>
    <p-tabPanel header="消费预警" style="width:1140px;">
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <b>月消费上限：&nbsp;</b>
                    <p-dropdown [options]="MonthUpLimitList" [(ngModel)]="MonthUpLimit" [style]="{'width':'150px'}"
                        placeholder="选择一个月消费金额：" (onChange)="QueryByMonthUpLimit()">
                    </p-dropdown>
                    &nbsp;&nbsp;
                    <button style="margin-top: 10px" class="btn btn-primary" (click)="StudentQuery()"><i
                            class="fa fa-search"></i>学生月度消费检索</button>
                    <br />
                    <table-function [Table]="studentcomsumption"></table-function>
                    <p-table #studentcomsumption [value]="this.Students" selectionMode="single"
                        [(selection)]="this.selectStudent" [scrollable]="true" scrollHeight="720px"
                        (onRowSelect)="onRowSelect($event)" [columns]="cols"
                        [exportFilename]="'学生月度消费(' + MonthUpLimit + '元)'">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 50px">学号</th>
                                <th style="width: 100px">姓名</th>
                                <th style="width: 100px">班级</th>
                                <th style="width: 50px" [pSortableColumn]="'sex'">性别
                                    <p-sortIcon [field]="'sex'">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 50px" [pSortableColumn]="'liveAtSchool'">是否住校
                                    <p-sortIcon [field]="'liveAtSchool'">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 100px" [pSortableColumn]="'month'">月度
                                    <p-sortIcon [field]="'month'">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 100px" [pSortableColumn]="'amount'">金额
                                    <p-sortIcon [field]="'amount'">
                                    </p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemData>
                            <tr [pSelectableRow]="itemData">
                                <td style="width: 50px">{{itemData.id}}</td>
                                <td style="width: 100px">{{itemData.name}}</td>
                                <td style="width: 100px">{{itemData.className}}</td>
                                <td style="width: 50px;text-align: center">{{itemData.sex}}</td>
                                <td style="width: 50px;text-align: center">{{itemData.liveAtSchool?"是":"否"}}</td>
                                <td style="width: 100px;text-align: center">{{itemData.month}}</td>
                                <td style="width: 100px;text-align: right;">{{itemData.amount}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-5">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            单笔消费记录
                        </div>
                        <div class="card-body" style="padding:5px;">
                            <div class="stats">
                                <div class="container">
                                    <student-item [Title]="item.accName + ' ' + item.monDeal * -1 + '元'"
                                        [Sex]="item.consumpStudent.sex" [StudentId]="item.studentID"
                                        [SubTitle]="item.dealTime" *ngFor="let item of this.highestRec"> </student-item>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            单笔消费记录[住校]
                        </div>
                        <div class="card-body" style="padding:5px;">
                            <div class="stats">
                                <div class="container">
                                    <student-item [Title]="item.accName + ' ' + item.monDeal * -1 + '元'"
                                        [Sex]="item.consumpStudent.sex" [StudentId]="item.studentID"
                                        [SubTitle]="item.dealTime" *ngFor="let item of this.highestRecLiveAtSchool">
                                    </student-item>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            单笔消费记录[非住校]
                        </div>
                        <div class="card-body" style="padding:5px;">
                            <div class="stats">
                                <div class="container">
                                    <student-item [Title]="item.accName + ' ' + item.monDeal * -1 + '元'"
                                        [Sex]="item.consumpStudent.sex" [StudentId]="item.studentID"
                                        [SubTitle]="item.dealTime" *ngFor="let item of this.highestRecNotLiveAtSchool">
                                    </student-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>

<app-studentPicker></app-studentPicker>
<app-error-message-dialog></app-error-message-dialog>