<div class="container">
    <div class="row">
        <div class="col-4">
            <ngx-timeline [events]="events">
                <ng-template let-event let-index="rowIndex" timelineBody>
                    <ul class="heroes">
                        <li *ngFor="let classname of event.body.split(',')" style="width:120px">
                            <span class="badge" style="width:30px">
                                <i class="fa fas fa-graduation-cap"></i>
                            </span> {{classname}}
                        </li>
                    </ul>
                </ng-template>
            </ngx-timeline>
        </div>
        <div class="col-8">
            <h1>{{this.Current[0].name}} <span class="badge badge-primary">{{this.Current[0].subName}}</span></h1>
            <div class="alert alert-warning" role="alert">
                2018-2019-1学期:
            </div>
            <ul class="heroes">
                <li *ngFor="let teacher of this.Current" style="cursor: pointer;width: 300px;"
                    (click)="JumpToClass(teacher.classId)">
                    <span class="badge" style="width:100px">{{teacher.term}} </span>{{teacher.className}}
                    <i class="fa fa-search"></i>
                </li>
            </ul>

            <p-table [value]="this.Exams" selectionMode="single" [(selection)]="this.selectTeacher" [scrollable]="true"
                scrollHeight="400px" (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 80px">班级名</th>
                        <th style="width: 200px">考试名称</th>
                        <th style="width: 50px">最高分</th>
                        <th style="width: 50px">最低分</th>
                        <th style="width: 50px">平均分</th>
                        <th style="width: 50px">标准差</th>
                        <th style="width: 50px">方差</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-itemData>
                    <tr [pSelectableRow]="itemData">
                        <td style="width: 80px">{{itemData.className}}</td>
                        <td style="width: 200px">{{itemData.examName}}</td>
                        <td style="width: 50px">{{itemData.maxScore}}</td>
                        <td style="width: 50px">{{itemData.minScore}}</td>
                        <td style="width: 50px">{{itemData.avgScore}}</td>
                        <td style="width: 50px">{{itemData.std}}</td>
                        <td style="width: 50px">{{itemData.var}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>