<br />
<br />
<div>
    <div style="width:1000px;margin-left: auto;margin-right: auto;">
        <div style="float: right;">
            <button  (click)="navTo('student')" class="btn btn-primary">学生</button>
            <button  (click)="navTo('student')" class="btn btn-primary">课程</button>
            <button  (click)="navTo('student')" class="btn btn-primary">群体</button>
        </div>
        <br />
        <br />
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>