<div class="box box-primary  box-solid" style="width: 100%;">
    <div class="box-header with-border">
        <h3 class="box-title">生源地图</h3>
        <div class="box-tools pull-right">
            <button type="button" style="margin: 0px;" class="btn btn-info btn-box-tool" (click)="this.china.show()">
                <i class="fas fa-info-circle"></i>&nbsp;全国
            </button>
            &nbsp;
            <button type="button" style="margin: 0px;" class="btn btn-info btn-box-tool "
                (click)="this.zhejiang.show()">
                <i class="fas fa-info-circle"></i>&nbsp;浙江省
            </button>
        </div>
    </div>
    <div class="box-body">
        <p-tabView>
            <p-tabPanel [header]="'全国'">
                <div class="alert alert-warning" role="alert">
                    南海诸岛省略表示
                </div>
                <div *ngIf="this.service.IsMapReady" echarts [options]="ChinaMapOption" [style.width]="this.StyleWidth"
                    (chartInit)="ChinaMapInit($event)" [style.height]="this.StyleHeight"></div>
            </p-tabPanel>
            <p-tabPanel [header]="'浙江'">
                <div class="alert alert-warning" role="alert">
                    统计口径为浙江省的所有市级行政区
                </div>
                <div *ngIf="this.service.IsMapReady" echarts [options]="ZheJiangMapOption"
                    [style.width]="this.StyleWidth" (chartInit)="ZhejiangMapInit($event)"
                    [style.height]="this.StyleHeight"></div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<app-namevalue #china [Title]="'全国生源'" [NameValueTable]="NativePlace" [TitleName]="'省份'" [TitleValue]="'人数'">
</app-namevalue>
<app-namevalue #zhejiang [Title]="'浙江省生源'" [NameValueTable]="NativePlaceZheJiangDetailOnly" [TitleName]="'城市'"
    [TitleValue]="'人数'">
</app-namevalue>