<app-nav></app-nav>

<p-tabView>
    <p-tabPanel header="单门课程" style="width:1140px;">
        <div class="container" style="width:1140px;">
            <div class="row" style="padding: 5px;margin: 5px;">
                <div class="col">
                    <div class="box box-primary  box-solid" style="width: 100%;margin-top: 10px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">单课程百分比</h3>
                        </div>
                        <div class="box-body">
                            <div style="margin: 5px 0px 5px 0px">
                                <button *ngFor="let x of SingleCoursePercent" type="button" class="btn btn-info"
                                    style="cursor: default;margin-left: 10px">
                                    {{x.name}}&nbsp;
                                    <span class="badge badge-light">{{x.value}}%</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding: 5px;margin: 5px;">
                <div class="col">
                    <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
                        <div echarts [options]="mCourseSelectRadarGraphOption"  (chartInit)="onCourseSelectRadarGraphChartInit($event)"
                         style="width:450px;"></div>
                    </div>
                </div>
                <div class="col">
                    <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
                        <div echarts [options]="mCourseSelectCntOption"  (chartInit)="onCourseSelectCntChartInit($event)"
                        style="width:450px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="两门课程" style="width:100%;">
        <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
            <div echarts [options]="mCourseSelectTwoCntOption"  (chartInit)="onCourseSelectTwoCntChartInit($event)"
                style="width:800px;height: 400px;padding: 5px;margin: auto;"></div>
        </div>
        <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
            <div echarts [options]="mCourseSelectTwoPercentOption"  (chartInit)="onCourseSelectTwoPercentChartInit($event)"
                style="width:800px;height: 400px;padding: 5px;margin: auto;"></div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="三门课程" style="width:1140x;">
        <div class="container" style="width:1140px;">
            <div class="row">
                <div class="col">
                    <div echarts [options]="mCourseSelectThreeCntOption"  (chartInit)="onCourseSelectThreeCntChartInit($event)"
                        style="width:1025px;height: 450px;border: 2px solid lightgray;padding: 5px;margin: 5px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="heroes">
                        <li *ngFor="let item of ThreeCoursePercent.slice(0,8)">
                            <span class="badge" style="width: 120px;">{{item.name}} </span>{{item.value}} %
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="heroes">
                        <li *ngFor="let item of ThreeCoursePercent.slice(8,16)">
                            <span class="badge" style="width: 120px;">{{item.name}} </span>{{item.value}} %
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="heroes">
                        <li *ngFor="let item of ThreeCoursePercent.slice(16,24)">
                            <span class="badge" style="width: 120px;">{{item.name}} </span>{{item.value}} %
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="heroes">
                        <li *ngFor="let item of ThreeCoursePercent.slice(24)">
                            <span class="badge" style="width: 120px;">{{item.name}} </span>{{item.value}} %
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="桑基图（Sankey）" style="width:100%;">
        <div echarts [options]="mSelectCourseSankeyOption" (chartInit)="onSelectCourseSankeyChartInit($event)"
            style="width:1080px;height: 900px;border: 2px solid lightgray;padding: 5px;margin: 5px;"></div>
    </p-tabPanel>
</p-tabView>