<app-nav></app-nav>

<p-tabView>
    <p-tabPanel header="单门课程" style="width:1140px;">
        <div class="container" style="width:1140px;">
            <div class="row" style="border: 2px solid lightgray;padding: 5px;margin: 5px">
                <div class="col">
                    <div echarts [options]="mCourseSelectRadarGraphOption" style="width:500px;"></div>
                </div>
                <div class="col">
                    <ul class="heroes">
                        <li *ngFor="let item of SingleCoursePercent">
                            <span class="badge">{{item.name}} </span>{{item.value}} %
                        </li>
                    </ul>
                </div>
            </div>
            <div style="border: 2px solid lightgray;padding: 5px;margin: 5px">
                <div echarts [options]="mCourseSelectCntOption" style="width:500px;"></div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="两门课程" style="width:100%;">
        <div echarts [options]="mCourseSelectTwoCntOption"
            style="width:800px;height: 400px;border: 2px solid lightgray;padding: 5px;margin: 5px;"></div>
        <div echarts [options]="mCourseSelectTwoPercentOption"
            style="width:800px;height: 400px;border: 2px solid lightgray;padding: 5px;margin: 5px;"></div>
    </p-tabPanel>
    <p-tabPanel header="三门课程" style="width:1140x;">
        <div echarts [options]="mCourseSelectThreeCntOption" style="width:1100px;height: 450px;border: 2px solid lightgray;padding: 5px;margin: 5px;"></div>

        <div class="container" style="width:1140px;">
            <div class="row">
                <div class="col">
                    <ul class="heroes">
                        <li *ngFor="let item of ThreeCoursePercent.slice(0,8)">
                            <span class="badge" style="width: 120px;">{{item.name}} </span>{{item.value}} %
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="heroes">
                        <li *ngFor="let item of ThreeCoursePercent.slice(8,16)">
                            <span class="badge" style="width: 120px;">{{item.name}} </span>{{item.value}} %
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="heroes">
                        <li *ngFor="let item of ThreeCoursePercent.slice(16,24)">
                            <span class="badge" style="width: 120px;">{{item.name}} </span>{{item.value}} %
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="heroes">
                        <li *ngFor="let item of ThreeCoursePercent.slice(24)">
                            <span class="badge" style="width: 120px;">{{item.name}} </span>{{item.value}} %
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="桑基图（Sankey）" style="width:100%;">
        <div echarts [options]="mSelectCourseSankeyOption" style="width:1140px;height: 900px;border: 2px solid lightgray;padding: 5px;margin: 5px;"></div>
    </p-tabPanel>
</p-tabView>